.block {
    width: 1920px;
    height: 1080px;
    margin: 0px;
    display: flex;
}

.login {
    gap: 32px;
    margin-top: 357px;
    margin-left: 107px;
    width: 343px;
    height: 251px;
}

.title {
    font-family: "Golos UI", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 140px;
    line-height: 180px;
    letter-spacing: -1.5px;
    width: 385px;
    height: 180px;
    margin-left: 179px;
    margin-top: 182px;
    color: #222222;
    position: absolute;
}

.description {
    font-family: "Golos UI", sans-serif;
    font-weight: 400;
    font-style: regular;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.08px;
    width: 343px;
    height: 16px;
    color: #808080;
    margin-top: 5px;
}

.headlines {
    font-family: "Golos UI", sans-serif;
    font-weight: 400;
    font-style: regular;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    width: 343px;
    height: 18px;
    margin: 0px;
    color: #222222;
}

.input {
    height: 50px;
    width: 325px; 
    background-color: #edf2f8;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    display: block; 
    margin-bottom: 5px;
}

.eye {
  width: 22px;
  height: 22px;
  filter: invert(100%);
  margin-top: 15px;
  margin-left: 310px;
}

.button {
   width: 343px;
   height: 48px;
   background-color: black;
   color: white;
   font-family: "Golos UI", sans-serif;
   padding-right: 16px;
   padding-left: 16px;
   border-radius: 10px;
   margin-top: 50px;
}